# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.log
*.lastbuildstate

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other files and folders
*.db
*.user
*.vc.vc.opendb
*.vcxproj.user
.vs/
bin/
bin64/
ipch/
Build/
*Pre-Build/
