# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other files and folders
*.db
*.user
*.vc.vc.opendb
*.vcxproj.user
.vs/
bin/
bin64/
ipch/
src/psa-win/x64/
src/psa-win/Win32/
src/psa-win/Release/
src/psa-win/Debug/
testing/testGenericTree/x64/
testing/testGenericTree/Win32/
testing/testGenericTree/Release/
testing/testGenericTree/Debug/
